<%= form_for @shelter, :html => {:class => "form-horizontal"} do |f| %>
    
    <% @shelter.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name', type: 'text' %>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <%= f.text_field :description, class: 'form-control', placeholder: 'Description', type: 'text' %>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <%= f.text_field :address, class: 'form-control', placeholder: 'Address', type: 'text' %>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone', type: 'text' %>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Gender of Guests</label>
      <div class="col-sm-10">
        <%= f.select :gender, [['Women and Men', 'Women and Men'],['Women', "Women"], ['Men', "Men"]],class: 'form-control', placeholder: 'Gender', type: 'text' %>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Average Number of Free Beds*</label>
      <div class="col-sm-10">
          <%= f.number_field :free_bed, class: 'form-control', placeholder: 'Free Bed'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% if user_signed_in? && (params[:action] == 'new') %>
          <%= link_to "Cancel", shelters_path, class: 'btn btn-default', 'data-no-turbolink' => 'true'%>
        <% else %>
          <%= link_to "Cancel", shelter_path(@shelter), class: 'btn btn-default'%>
        <% end %>
      </div>
    </div>

<% end %>