<h1>
  Restaurants
  <%= link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><strong><%= link_to restaurant.name, restaurant %></strong></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
    </tr>
  <% end %>

</table>

<div>
  <h3>Locations <br><small class="muted">(click to view more info)</small></h3>
</div>

<div id='js_data' class='hide'>
  <div id='restaurants_info'><%= restaurants_info(@restaurants) %></div>
</div>


<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>

<%= render partial: 'all_restaurants_map' %>