<h1>
  <%= @restaurant.name %>  
  <% if user_signed_in? && @restaurant.user == current_user %>
    <%= link_to "Edit", edit_restaurant_path(@restaurant), class: 'btn btn-default' %> 
    <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default' %> 
  <% end %>
</h1>
<p><em><%= @restaurant.description %></em></p>
<p><%= @restaurant.address %> </p>
<p><%= @restaurant.phone %> </p>
<p><%= @restaurant.gender %> </p>
<p><%= @restaurant.free_bed %> </p>
<p><%= gmap([@restaurant]) %></p>

<p>
  <%= link_to "Back to Restaurants Index", restaurants_path, class: 'btn btn-primary', 'data-no-turbolink' => 'true' %>
</p>