<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container list">
  <% flash.each do |name, msg| %>
    <div class='alert alert-info text-center alert-dismissible' role="alert">
      <strong><%= name.capitalize %>:</strong> <span><%= msg %></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
